.host {
  display: block;

  input,
  h3,
  button {
    all: unset;
    box-sizing: border-box;
  }

header {
  width: 100%;
  padding: 0.5rem;

  input {
    padding-inline: 1rem;
    color: rgb(205, 214, 244);
    background: rgb(88, 91, 112);
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
  }
}

main {
  padding-inline: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 300px 1fr;
  color: rgb(205, 214, 244);
}

details[open] {
  summary:after {
    content: '-';
  }
}

details {
  position: relative;
  background: rgb(49, 50, 68);
  border-radius: 0.5rem;
}

summary {
  font-weight: bold;
  text-transform: capitalize;
  list-style: none;
  padding: 0.5rem;

  &::-webkit-details-marker {
    display: none;
  }

  &::after {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    content: '+';
    line-height: 1;
  }
}

aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 0.25rem;

  div {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-auto-rows: min-content;
    padding: 0.5rem;
    gap: 0.5rem;

    label {
      grid-column: span 3;
      display: grid;
      grid-template-columns: subgrid;
      align-items: center;
      gap: 0.5rem;

      input {
        width: 1.5rem;
        height: 1.5rem;
        background: rgb(147, 153, 178);
        border-radius: 0.125rem;

        &:checked {
            background: rgb(137, 220, 235);
        }
      }
    }
  }
}

section {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  gap: 0.5rem;
}

article {
  background: rgb(49, 50, 68);
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  gap: 1rem;

  h3 {
    line-height: 1.2;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  img {
    object-fit: contain;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    max-width: 100%;
    width: 100%;
  }
}

footer {
  margin: 0.5rem;
  gap: 0.25rem;
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: center;
}

button {
  display: grid;
  justify-content: center;
  align-items: center;

  height: 3rem;
  background: rgb(49, 50, 68);
  color: rgb(205, 214, 244);
  aspect-ratio: 1 / 1;
  border-radius: 0.25rem;

  &:disabled {
    opacity: 0.5;
  }
}
}




