CTP_PROJECT_KEY=
CTP_CLIENT_SECRET=
CTP_CLIENT_ID=
CTP_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
CTP_API_URL=https://api.europe-west1.gcp.commercetools.com
CTP_SCOPES=



OTEL_SERVICE_NAME=reactionary
OTEL_LOG_LEVEL=info
OTEL_TRACES_EXPORTER=console
OTEL_METRICS_EXPORTER=console



MEILISEARCH_API_URL=
MEILISEARCH_API_KEY=
MEILISEARCH_INDEX=icecat_products
MEILISEARCH_USE_AI_EMBEDDING=huggingface


ALGOLIA_API_KEY=
ALGOLIA_APP_ID=
ALGOLIA_INDEX=icecat_products



MEDUSA_PUBLISHABLE_KEY=
MEDUSA_ADMIN_KEY=
MEDUSA_API_URL=
MEDUSA_DEFAULT_CURRENCY=EUR
