:host {
    display: block;
}

input, h3 {
    all: unset;
}

header {
    padding: 0.5rem;
    
    input {
        all: unset;
        
        background: rgb(88, 91, 112);
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
    }
}

main {
    justify-content: center;
    padding-inline: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 0.5rem;
}

article {
    background: rgb(49, 50, 68);
    color: rgb(205, 214, 244);
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 1rem;

    h3 {
        line-height: 1.2;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    img {
        object-fit: contain;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}