:host {
  display: block;
}

header {
  padding: 0.5rem;

  input {
    padding-inline: 1rem;
    color: rgb(205, 214, 244);
    background: rgb(88, 91, 112);
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
  }
}

main {
  display: block;
  width: 100%;
  padding-inline: 0.5rem;
}