# fly.toml app configuration file generated for angular-trpc on 2025-05-14T09:42:39+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'angular-trpc'
primary_region = 'fra'

[build]
  image = "registry.fly.io/angular-trpc:latest"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
