@if (product.value(); as product) {
    <section>
        @if (sku(); as displaySku) {
            <img [src]="displaySku.image.url" 
                 [alt]="displaySku.image.title" 
                 [width]="displaySku.image.width"
                 [height]="displaySku.image.height" />
        }
    </section>
    <section>
        <h2>{{ product.name }}</h2>
        <h3>{{ product.description }}</h3>
        @if (sku(); as displaySku) {
            <div class="selection-attributes">
                <h4>Options</h4>
                <ul>
                    @for (attr of displaySku.selectionAttributes; track attr.id) {
                        <li>{{ attr.name }}: {{ attr.value }}</li>
                    }
                </ul>
            </div>
            <div class="technical-specs">
                <h4>Technical Specifications</h4>
                <ul>
                    @for (spec of displaySku.technicalSpecifications; track spec.id) {
                        <li>{{ spec.name }}: {{ spec.value }}</li>
                    }
                </ul>
            </div>
        }
    </section>
}