<aside>
    @for (facet of service.search()?.facets; track $index) {
        <details [open]="true">
            <summary>{{ facet.name }}</summary>
            
            <div class="content">
                @for (value of facet.values; track $index) {
                    <label>
                        <span>{{ value.name }}</span>
                        <span>{{ value.count }}</span>
                        <input type="checkbox" (click)="toggleFacet(value.identifier)" [checked]="value.active"/>
                    </label>
                }
            </div>
        </details>
    }
</aside>
<section>
    @for (product of service.search()?.products; track $index) {
        <a [routerLink]="['product', product.slug]">
            <article>
                <img [src]="product.image.replace('w_200', 'w_200,h_200,')" [alt]="product.name" />
                <h3>{{ product.name }}</h3>
            </article>
        </a>
    }
</section>
<footer>
    <button (click)="previousPage()" [disabled]="hasPrevious()">
        &lt;
    </button>
    <button (click)="nextPage()" [disabled]="hasNext()">
        &gt;
    </button>
</footer>