name: pull request

on:
  pull_request:
  merge_group:

permissions:
  actions: read
  contents: write
  pull-requests: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      - run: npx nx-cloud start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"

      - uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: 'npm'

      - run: npm ci --legacy-peer-deps
      
      - uses: nrwl/nx-set-shas@v4

      - run: npx nx affected -t lint build

#      - name: release
#        if: ${{ github.event_name == 'merge_group' }}
#        run: |
#          git config --global user.email "martin.rogne@solteq.com"
#          git config --global user.name "Martin Rogne"
#          npx nx release patch --skip-publish=true -- --no-agents
#          git push --follow-tags

